* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: crosshair;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.navbar {
    padding: 1rem;
    background-color: black;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: grey;
}

.nav-item.active .nav-link {
    font-weight: bold;
}

.spacing-1 {
    margin-bottom: 20px;
}

.spacing-2 {
    margin-bottom: 200px;
}

.centered-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.sms-button {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: 3px solid;
    padding: 10px 20px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.sms-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .sms-button {
        padding: 0.25em 0.75em;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-slowly {
    animation: rotate 10s linear infinite;
}

.custom-accordion.accordion .accordion-item .accordion-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
}

.custom-accordion.accordion .accordion-item .accordion-button:hover {
    background-color: #333;
    cursor: pointer;
}

.custom-accordion.accordion .accordion-item .accordion-button:not(.collapsed) {
    border-bottom: none;
}

.custom-accordion.accordion .accordion-item .accordion-collapse {
    background-color: black;
}

.faq-title {
    text-align: left;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
